# Jekyll specific files
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler dependencies
.bundle
Gemfile.lock

# NPM dependencies
node_modules/

# Logs and temporary files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# VS Code and IDE files
.vscode/
.idea/
